<template>
    <div class="cardapio">
      <div  v-if="loading" class="container-loading">
        <div class="carregando">
          <b-spinner label="Carregando..."></b-spinner>
        </div>
      </div>
      
      <b-container>
        <b-row>
          <b-col cols="4">
            <div class="logo"></div>
          </b-col>
          <b-col class="titulo">
            <h1>Cardápio Online</h1>
          </b-col>
        </b-row>

        <b-row>
          <b-col><hr></b-col>
        </b-row>

        <b-row>
          <b-col>
            <p class="regra-frete">
                <strong>Como é o frete?</strong><br>
                Pedidos abaixo de R$ 49,00 - R$15,00<br>
                Pedidos entre R$ 50,00 e R$ 99,00 - R$10,00<br>
                Pedidos acima de R$ 100,00 - Grátis
            </p>
          </b-col>
        </b-row>

      </b-container>
      <b-container>
        <b-row class="menu-categorias">
          <b-col>
            <b-list-group id="menuCategorias" v-b-scrollspy class="category">
              <b-list-group-item class="item-category" @click="scrollIntoView('item'+categoria.id)" v-bind:to="{ hash: '#item'+categoria.id }" v-for="categoria in categorias" :key="categoria.id">{{categoria.nome}}</b-list-group-item>
            </b-list-group>
          </b-col>
        </b-row>
        <div v-for="categoria in categorias" :key="categoria.id" style="margin-bottom: 30px; padding-bottom: 30px;">

          <div class="nome-categoria" v-bind:id="'item'+categoria.id">{{categoria.nome}}</div>

          <b-row>
            <b-col>
              <div id="lista"  v-for="p in produtos" :key="p.id">
                <div class="produto" v-if="p.id_categoria == categoria.id">
                  <b-row>
                    <b-col cols="7" class="nome-produto">
                      {{p.nome}}
                    </b-col>
                    <b-col cols="5">
                      <span class="quantidade">
                        <b-form-spinbutton v-model="p.quantidade" min="0" max="100" @change="calcularTotal(p); "></b-form-spinbutton>
                      </span>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <div class="valor">{{"R$ " + formatPrice(p.valor)}}</div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="4">
                      <div class="container-gramas">
                        <span v-if="p.volume" class="gramas">{{p.volume}}</span>
                      </div>
                      
                    </b-col>
                    <b-col cols="8">
                      <div class="tipo-fruta" v-if="p.tipo == 1">
                        <b-form-group>
                          <b-form-radio v-model="p.escolha_tipo" :name="'tipo' + p.id" value="1" inline>Maduro(a)</b-form-radio>
                          <b-form-radio v-model="p.escolha_tipo" :name="'tipo' + p.id" value="2" inline>Verde</b-form-radio>
                        </b-form-group>
                      </div>
                    </b-col>
                  </b-row>
                  
                </div>
              </div>
            </b-col>
          </b-row>
        </div>
        
      </b-container>
      <b-button class="bt-continuar active" @click="avancar(user, categorias, produtos)">
        COLOCAR NO CARRINHO
        <span class="valor-total">R$ {{formatPrice(valorTotal)}}</span>
      </b-button>
      
    </div>
  
</template>

<script>
// @ is an alias to /src
import axios from "axios";

export default {
  name: 'Cardapio',
  data() {
      return {
        categorias: [],
        user: {},
        valorTotal: 0,
        urlApi: process.env.VUE_APP_URL_API,
        produtos: [{
          quantidade: 0
        }],
        loading: true
      }
      
    },
  created() {
    this.$root.$on('bv::scrollspy::activate', this.onActivate);
    var _this = this;

    if(this.$route.params.categorias){
      this.produtos = this.$route.params.produtos;
      this.categorias = this.$route.params.categorias;
      this.user = this.$route.params.user;
      for (var key in this.produtos) {
        if(this.produtos[key].quantidade > 0){
          this.valorTotal = (this.produtos[key].quantidade * this.produtos[key].valor) + this.valorTotal;
          this.produtos.totalProduto = String("R$ " + this.formatPrice(this.produtos[key].quantidade * this.produtos[key].valor));
        }
      }
      _this.loading = false;
    } else {
       //CATEGORIAS
      axios
        .get(_this.urlApi + "categorias.php")
        .then(function(response) {

          _this.categorias = response.data;

          //PRODUTOS
          axios
            .get(_this.urlApi + "produtos.php")
            .then(function(response) {
              _this.produtos = response.data;
              for (var key in _this.produtos) {
                _this.produtos[key].quantidade = 0
              }
              _this.loading = false;
            })
            .catch(function(error) {
              console.log(error);
            });
        })
        .catch(function(error) {
          console.log(error);
        });
    }
    
      
    
  },
  methods: {
    onActivate(target) {
      var elementos = document.getElementsByClassName('active');
      elementos[0].scrollIntoView();
    },
    formatPrice(value) {
        let val = (value/1).toFixed(2).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
    scrollIntoView(to) {
        const el = document.querySelector('#' + to);
        if (el) {
          el.scrollIntoView();          
        }
      },
    calcularTotal(p){
      var total = 0;
      for (var key in this.produtos) {
        if(this.produtos[key].quantidade > 0){
          total = (this.produtos[key].quantidade * this.produtos[key].valor) + total;
          this.produtos[key].totalProduto = "R$ " + String(this.formatPrice(this.produtos[key].quantidade * this.produtos[key].valor));
        }
      }
      this.valorTotal = total;
    },
    sortedArray(array){
      return array.slice().sort(function(a, b){
        return (a.nome > b.nome) ? 1 : -1;
      });
    },

    avancar(user, categorias, produtos){
      var _this = this;
      _this.$router.push({ name: "ecobag", params: { user, categorias, produtos } });
    }
  }

  
}
</script>
<style>
  .btn {outline: none !important }

  .container-loading{
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    position: absolute;
    opacity: 0.8;
    z-index: 1000;
  }

  .carregando{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .cardapio {
    padding-top: 40px;
  }
  .cardapio .logo {
    width: 125px;
    height: 100px;
    background-image: url('../assets/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .cardapio .titulo {
    text-align: center;
  }
  .cardapio .titulo h1 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    color: #6A8C48;
    margin-top: 32px;
  }
  .cardapio .category {
    flex-wrap: nowrap;
    overflow-x: auto;
    flex-direction: unset !important;
  }
  .cardapio .list-group-item-action {
    width: unset !important;
  }
  .cardapio .list-group-item-action.active {

    background: none !important;
    color: #808F87 !important;
    border: none !important;
    border-bottom: solid #808F87 2px !important;

  }
  .cardapio .regra-frete {
    font-family: Roboto;
    font-size: 14px;
    color: #777777;
  }
  .cardapio .item-category {
    flex: 0 0 auto;
    display: inline !important;
    padding: 0 !important;
    padding-bottom: 5px;
    margin-right: 15px !important;
    font-family: Roboto;
    font-size: 12px;
    color: #808F87 !important;
    text-transform: uppercase;
    border: none !important;
  }
  .cardapio .menu-categorias{
    position: sticky;
    top:0;
    z-index: 10;
    padding-bottom: 15px;
    padding-top: 20px;
    background-color: #FFFFFF;
  }
  .cardapio .produto{
    border-bottom: solid 1px #f1f1f1;
    padding-bottom: 15px;
    margin-top: 25px;
  }
  .cardapio .nome-produto{
    font-family: Roboto;
    font-size: 18px;
    color: #232323;
    padding-top: 5px;
  }
  .cardapio .container-gramas {
    margin-top: 10px;
  }
  .cardapio .gramas {
    color: #986726;
    border: solid 1px #986726;
    padding: 4px;
    border-radius:4px;
    font-family: Roboto;
    font-size: 14px;
  }
  .cardapio .valor {
    color: #6A8C48;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
  }
  .produto .quantidade {
    width: 130px !important;
  }
  .cardapio .tipo-fruta {
    margin-top: 10px;
    color: #986726;
  }
  .cardapio .custom-control-label::before{
  height: 1rem !important;
  width: 1rem !important;
  border-color: #E3E3E3 !important;
  
}
.cardapio .custom-control-label::after{
  width: 1rem !important;
  height: 1rem !important;
  
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: #986726 !important;
}
.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #986726 !important;
}
  .produto .quantidade .form-control {
    border-radius: 5px;
    border-color: #E3E3E3;
    width: 130px;
    float: right;
  }

  .produto .quantidade .form-control .btn {
    color: #6A8C48;
  }
  .nome-categoria {
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
  }

  .list-group-item:last-child {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  .form-control.focus {
    box-shadow: none !important;
  }
  .cardapio .bt-continuar{
  width: 100%;
  position: fixed;
  bottom: -20px;
  border-radius: 20px !important;
  background-color: #6B8B4B !important;
  height: 0px;
  padding-top: 0px !important;
  padding-bottom: 20px !important;
  -webkit-transition: all 0.2s linear !important;
  -moz-transition: all 0.2s linear !important;
  -o-transition: all 0.2s linear !important;
  transition: all 0.2s linear !important;
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  border: none;
}
.cardapio .bt-continuar.active{
  height: 90px;
}
.cardapio .bt-continuar .valor-total{
  float: right;
  color: #68D400;
  margin-right: 30px;
}
</style>