<template>
  <div class="ecobag">
    <div class="topo">
      <b-container>
        <div class="logo"></div>
      </b-container>
      
    </div>

    <b-container>
      <div class="titulo">
        <h1>Ecobag</h1>
      </div>
    </b-container>
    <b-container>
      <div class="descricao">
        <p>Pra ficar ainda mais sustentável, substituímos o plástico por nossas ECOBAGS retornáveis 🌱🙌🏻</p>
        <h3>Como funciona? </h3>
        <p style="padding-left:15px;">Apenas na sua primeira compra, adquira a sacola.</p>
        <p style="padding-left:15px;">A partir da próxima compra você retorna ela pra gente e recebe uma nova com os produtos escolhidos, sem custo!</p>
      </div>
    </b-container>
    <b-container class="form-ecobag">
      <b-row>
        <b-col>
          <b-form-group>
            <b-form-radio v-model="user.ecobag" name="ecobag" value="1">Aceitar ecobag e reduzir o uso de plásticos - <strong>R$ 18,00</strong></b-form-radio>
            <b-form-radio v-model="user.ecobag" name="ecobag" value="2">Já tenho a ecobag da Compostar Orgânicos.</b-form-radio>
            <b-form-radio v-model="user.ecobag" name="ecobag" value="3">Não quero a ecobag e opto por receber na sacola plástica.</b-form-radio>
          </b-form-group>
        </b-col>
      </b-row>      
    </b-container>
    <b-button class="bt-continuar" @click="avancar(user, categorias, produtos)" v-bind:class="{ active: user.ecobag}">CONTINUAR COMPRA</b-button>

  </div>
</template>

<script>
// @ is an alias to /src


export default {
  name: 'Home',
  data() {
      return {
        value: 0,
        isValid: 0,
        user: {}
      }
    },
  created: function(){
    this.user = this.$route.params.user;
    this.produtos = this.$route.params.produtos;
    this.categorias = this.$route.params.categorias;
  },
  methods: {
    avancar(user, categorias, produtos) {
      var _this = this;
      _this.$router.push({ name: "home", params: { user, categorias, produtos } });
    }
  }
}
</script>
<style>
.ecobag{
  padding-bottom: 100px;
}

.ecobag .topo {
  background-image: url('../assets/bg-home.png');
  background-size: cover;
  width: 100%;
  height: 67vh;
  padding-top: 40px;
  margin-top: -2px;
}
.ecobag .topo .logo {
  width: 126px;
  height: 101px;
  background-image: url('../assets/logo-branca.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.ecobag .titulo h1 { 
  margin-top: -50px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 26px;
  color: #6A8C48;
}
.ecobag .descricao {
  font-family: Roboto;
  font-size: 16x;
  color: #777777;
  margin-top: 40px;
}
.ecobag .descricao h3{
  font-size: 18px;
  font-weight: bold;
}
.ecobag .form-ecobag {
  padding-left: 30px;
  
}
.ecobag .custom-control-label {
  font-size: 16px;
  color: #986726;
  font-family: Roboto;
  padding-top: 10px;
}
.ecobag .custom-control-label span {
  float: right;
  color: #6A8C48;
}
.ecobag .custom-control-label::before{
  height: 1rem !important;
  width: 1rem !important;
  border-color: #E3E3E3 !important;
  margin-top: 10px;
  
}
.ecobag .custom-control-label::after{
  width: 1rem !important;
  height: 1rem !important;
  margin-top: 10px;
  
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: #986726 !important;
}
.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #986726 !important;
}

.ecobag .bt-continuar{
  width: 100%;
  position: fixed;
  bottom: -20px;
  border-radius: 20px !important;
  background-color: #6B8B4B !important;
  height: 0px;
  padding-top: 0px !important;
  padding-bottom: 20px;
  -webkit-transition: all 0.2s linear !important;
  -moz-transition: all 0.2s linear !important;
  -o-transition: all 0.2s linear !important;
  transition: all 0.2s linear !important;
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  border: none;
}
.ecobag .bt-continuar.active{
  height: 90px;
}
.aviso {
  font-family: Roboto;
  color: #777777;
  margin-top: 20px;
  font-size: 12px;
}
@media only screen and (min-width: 600px) {

  .ecobag .topo {
    /* background: none;
    background-color: #986726; */
    height: 300px;
  }
  .ecobag .titulo h1 {
    margin-top: 20px;
  }

}
</style>