<template>
  <div class="entrega">
    <div class="topo">
      <b-container>
        <div class="logo"></div>
      </b-container>
      
    </div>

    <b-container>
      <div class="titulo">
        <h1>Dias de Entrega</h1>
      </div>
    </b-container>
    <b-container>
      <div class="descricao">
        <p>
          <strong>Segunda</strong><br />
          Asa Sul / Asa Norte / Noroeste / Sudoeste<br /><br />
          <strong>Terça</strong><br />
          Lago sul / Jardim Botânico / Asa Sul / Asa Norte / Park Way<br /><br />
          <strong>Quarta</strong><br />
          Grande Colorado / Asa Norte / Noroeste / Lago Norte / Asa Sul / Taquari<br /><br />
          <strong>Quinta</strong><br />
          Águas Claras / Guará / Sudoeste / Octogonal / Cruzeiro / Park Sul / Taguatinga Sul<br /><br />
          <strong>Sexta</strong><br />
          Asa Sul / Asa Norte / Noroeste</p>
      </div>
    </b-container>
    <b-container>
      <div class="aviso-entrega">
          <strong>Pedidos deverão ser enviados até as 13h do dia anterior a sua entrega.</strong>
      </div>
    </b-container>
    <b-button class="bt-continuar" @click="avancar(user, categorias, produtos)" v-bind:class="{ active: user.nome && user.endereco && user.telefone }">CONTINUAR COMPRA</b-button>

  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Entrega',
  data() {
      return {
        value: 0,
        isValid: 0,
        user: {}
      }
    },
  created: function(){
    this.user = this.$route.params.user;
    this.produtos = this.$route.params.produtos;
    this.categorias = this.$route.params.categorias;
  },
  methods: {
    avancar(user, categorias, produtos) {
      var _this = this;
      _this.$router.push({ name: "resumo", params: { user, categorias, produtos } });
    }
  }
}
</script>
<style>
.entrega{
  padding-bottom: 100px;
}
.entrega .aviso-entrega {
  color: #FF0000;
  background-color: #ffe5e7;
  margin-left: -15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: -15px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
}
.entrega .topo {
  background-image: url('../assets/bg-home.png');
  background-size: cover;
  width: 100%;
  height: 67vh;
  padding-top: 40px;
  margin-top: -2px;
}
.entrga .topo .logo {
  width: 126px;
  height: 101px;
  background-image: url('../assets/logo-branca.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.entrega .titulo h1 { 
  margin-top: -50px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 26px;
  color: #6A8C48;
}
.entrega .descricao {
  font-family: Roboto;
  font-size: 16px;
  color: #777777;
  margin-top: 40px;
}
.entrega .descricao h3{
  font-size: 18px;
  font-weight: bold;
}
.entrega .form-compostar {
  margin-bottom: 15px;
  height: 50px !important;
  border: none !important;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(222,222,222,1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(222,222,222,1);
  box-shadow: 0px 0px 20px 0px rgba(222,222,222,1);
  
}
.entrega .custom-control-label {
  padding-left: 20px;
  padding-top: 10px;
  font-size: 18px;
  color: #232323;
  font-family: Roboto;
  font-weight: bold;
  width: 100%;
}
.entrega .custom-control-label span {
  float: right;
  color: #6A8C48;
}
.entrega .custom-control-label::before{
  height: 2rem !important;
  width: 2rem !important;
  border-color: #E3E3E3 !important;
}
.entrga .custom-control-label::after{
  width: 2rem !important;
  height: 2rem !important;
}

.entrega .bt-continuar{
  width: 100%;
  position: fixed;
  bottom: -20px;
  border-radius: 20px !important;
  background-color: #6B8B4B !important;
  height: 0px;
  padding-top: 0px !important;
  padding-bottom: 20px;
  -webkit-transition: all 0.2s linear !important;
  -moz-transition: all 0.2s linear !important;
  -o-transition: all 0.2s linear !important;
  transition: all 0.2s linear !important;
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  border: none;
}
.entrega .bt-continuar.active{
  height: 90px;
}
.aviso {
  font-family: Roboto;
  color: #777777;
  margin-top: 20px;
  font-size: 12px;
}

@media only screen and (min-width: 600px) {

  .home .topo {
    /* background: none;
    background-color: #986726; */
    height: 300px;
    margin-top: -5px;
  }
  .home .titulo h1 {
    margin-top: 20px;
  }

}

</style>