<template>
  <div class="home">
    <div class="topo">
      <b-container>
        <div class="logo"></div>
      </b-container>
      
    </div>

    <b-container>
      <div class="titulo">
        <h1>Cardápio Online</h1>
      </div>
    </b-container>
    <b-container>
      <div class="descricao">
        <p>Olá! Sabia que, além de fazer o melhor pela sua saúde, quando você escolhe a Compostar Orgânicos, colabora com uma rede de pequenos agricultores e distribuidores? Além disso, os produtos vão a granel, reduzindo a poluição com o uso de plásticos. Fazer seu pedido é bem simples. Basta deixar alguns dados e escolher os produtos. Na tela de confirmação, clique no botão “Enviar pedido por Whatsapp” e pronto, cuidamos de todo o resto.</p>
      </div>
    </b-container>
    <b-container>
      <b-row>
        <b-col>
          <b-form-input class="form-compostar" v-model="user.nome" placeholder="Nome*"></b-form-input>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-input class="form-compostar" v-model="user.endereco" placeholder="Endereço de entrega*"></b-form-input>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <the-mask class="form-control form-compostar" v-model="user.telefone" placeholder="Telefone*" :mask="['(##) #####-####']" />
          <!-- <b-form-input ></b-form-input> -->
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-input class="form-control form-compostar" v-model="user.email" placeholder="E-mail"></b-form-input>
        </b-col>
      </b-row>
      
      <b-row>
        <b-col><div class="aviso">* Campos obrigatórios</div></b-col>
      </b-row>
      
      
    </b-container>
    <b-button class="bt-continuar" @click="avancar(user, categorias, produtos)" v-bind:class="{ active: user.nome && user.endereco && user.telefone }">CONTINUAR COMPRA</b-button>

  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
  data() {
      return {
        value: 0,
        isValid: 0,
        user: {}
      }
    },
  created: function(){
    this.user = this.$route.params.user;
    this.produtos = this.$route.params.produtos;
    this.categorias = this.$route.params.categorias;
  },
  methods: {
    avancar(user, categorias, produtos) {
      var _this = this;
      _this.$router.push({ name: "entrega", params: { user, categorias, produtos } });
    }
  }
}
</script>
<style>
.home{
  padding-bottom: 100px;
}

.home .topo {
  background-image: url('../assets/bg-home.png');
  background-size: cover;
  width: 100%;
  height: 67vh;
  padding-top: 40px;
  margin-top: -2px;
}
.home .topo .logo {
  width: 126px;
  height: 101px;
  background-image: url('../assets/logo-branca.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.home .titulo h1 { 
  margin-top: -50px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 26px;
  color: #6A8C48;
}
.home .descricao {
  font-family: Roboto;
  font-size: 16px;
  color: #777777;
  margin-top: 40px;
}
.home .descricao h3{
  font-size: 18px;
  font-weight: bold;
}
.home .form-compostar {
  margin-bottom: 15px;
  height: 50px !important;
  border: none !important;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(222,222,222,1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(222,222,222,1);
  box-shadow: 0px 0px 20px 0px rgba(222,222,222,1);
  
}
.home .custom-control-label {
  padding-left: 20px;
  padding-top: 10px;
  font-size: 18px;
  color: #232323;
  font-family: Roboto;
  font-weight: bold;
  width: 100%;
}
.home .custom-control-label span {
  float: right;
  color: #6A8C48;
}
.home .custom-control-label::before{
  height: 2rem !important;
  width: 2rem !important;
  border-color: #E3E3E3 !important;
}
.home .custom-control-label::after{
  width: 2rem !important;
  height: 2rem !important;
}

.home .bt-continuar{
  width: 100%;
  position: fixed;
  bottom: -20px;
  border-radius: 20px !important;
  background-color: #6B8B4B !important;
  height: 0px;
  padding-top: 0px !important;
  padding-bottom: 20px;
  -webkit-transition: all 0.2s linear !important;
  -moz-transition: all 0.2s linear !important;
  -o-transition: all 0.2s linear !important;
  transition: all 0.2s linear !important;
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  border: none;
}
.home .bt-continuar.active{
  height: 90px;
}
.aviso {
  font-family: Roboto;
  color: #777777;
  margin-top: 20px;
  font-size: 12px;
}

@media only screen and (min-width: 600px) {

  .home .topo {
    /* background: none;
    background-color: #986726; */
    height: 300px;
    margin-top: -5px;
  }
  .home .titulo h1 {
    margin-top: 20px;
  }

}

</style>