<template>
  <div class="resumo">
    <div  v-if="loading" class="container-loading">
      <div class="carregando">
        <b-spinner label="Carregando..."></b-spinner>
      </div>
    </div>

    <b-container>
      <b-row>
        <b-col cols="4">
          <div class="logo"></div>
        </b-col>
        <b-col class="titulo">
          <h1>Cardápio Online</h1>
        </b-col>
      </b-row>


    </b-container>

    <b-container class="tabela">

          <h1>RESUMO DA COMPRA</h1>
          <div >
            <b-table hover id="tabela_produtos" :items="produtos" :fields="fields" :filter="criteria" :filter-function="filterGrid"></b-table>
          </div>

          <b-row v-if="user.ecobag == 1">
            <b-col>
              <div class="total-compra">Ecobag: <span class="valor-total">{{'R$ ' + formatPrice(18)}}</span></div>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <div class="total-compra">Frete: <span class="valor-total">{{valor_frete}}</span></div>
            </b-col>
          </b-row>

          <b-row>
            <b-col>
              <div class="total-compra">Total da compra: <span class="valor-total">{{'R$ ' + formatPrice(valor_total)}}</span></div>
            </b-col>
          </b-row>

          <b-row>
            <b-col>
              <b-button class="bt-voltar" @click="voltar(user, categorias, produtos);">Voltar</b-button>
            </b-col>
            <b-col>
              <!-- <b-button class="bt-enviar" target="_blank" @click="gerarLink();">Enviar pedido por Whatsapp</b-button> -->
              <a class="btn bt-enviar " target="_blank" :href="linkApp">Enviar pedido por Whatsapp</a>
            </b-col>
          </b-row>

    </b-container>

  </div>
</template>

<script>
import axios from "axios";

export default {
  name: 'Resumo',
  created() {
    this.user = this.$route.params.user;
    this.categorias = this.$route.params.categorias;
    this.produtos = this.$route.params.produtos;
    if(this.user.ecobag == 1){
      this.valor_total = this.valor_total + 18;
    }

    for (var key in this.produtos) {
      if(this.produtos[key].quantidade > 0){
        this.valor_total = (this.produtos[key].quantidade * this.produtos[key].valor) + this.valor_total;
      }
      
    }
    this.calcularFrete();
    this.gerarLink();
  },
  mounted(){
    if(!this.user){
      this.$router.push({ name: "home"});
    }
    
  },
  data() {
      return {
        criteria: {
          quantidade:0
        },
        valor_total:0,
        valor_frete:0,
        fields: ['nome', 'quantidade', 'volume', {key: 'totalProduto', label: "Preço"}],
        produtos: {},
        msgApp: "",
        linkApp: "",
        urlApi: process.env.VUE_APP_URL_API,
        celWhatsapp: process.env.VUE_APP_CEL_WHATSAPP,
        dados: {},
        loading: false,
        id_pedido: 0
      }
    },
    methods: {
      filterGrid(val) {
        if(val.quantidade > 0){
          // this.valor_total = this.valor_total + (val.quantidade * val.valor);
          return true
        } else {
          return false;
        }
        
      },
      formatPrice(value) {
        let val = (value/1).toFixed(2).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      },
      voltar(user, categorias, produtos){
        var _this = this;
        _this.loading = true;

        axios
          .get(
            _this.urlApi + "pedido_del.php?id=" + _this.id_pedido,
            _this.dados
          )
          .then(function(response) {
            console.log(response);
            _this.loading = false;
            _this.$router.push({ name: "cardapio", params: { user, categorias, produtos } });
          })
          .catch(function(error) {
            console.log(error);
            _this.loading = false;
          });



        
      },
      calcularFrete(){
        if(this.valor_total >=100){
          this.valor_frete = "Grátis";
        } else if(this.valor_total >= 50 && this.valor_total < 100){
          this.valor_frete = "R$ 10,00";
          this.valor_total = this.valor_total + 10;
        } else if(this.valor_total < 50){
          this.valor_frete = "R$ 15,00";
          this.valor_total = this.valor_total + 15;
        }
      },
      gerarLink(){
        this.loading = true;
        var _this = this;


        this.dados = {
          user: this.user,
          produtos: this.produtos,
          frete: this.valor_frete,
          total: this.valor_total,
        }
        axios
          .post(
            _this.urlApi + "pedido_add.php",
            _this.dados
          )
          .then(function(response) {
            console.log(response);
            _this.id_pedido = response.data.id;
            var msg = "*NOVO PEDIDO - COD" + response.data.id+ "*\n";

            msg += _this.user.nome + "\n";
            msg += _this.user.endereco + "\n";
            msg += _this.user.telefone + "\n";
            if(_this.user.ecobag == 1){
              msg += "Ecobag: Aceitar\n\n";
            } else if(_this.user.ecobag == 2){
              msg += "Ecobag: Já tenho\n\n";
            } else if(_this.user.ecobag == 3) {
              msg += "Ecobag: Não quero\n\n";
            }

            msg += "*PRODUTOS*\n";

            for (var key in _this.produtos) {
              if(_this.produtos[key].quantidade > 0){
                if(_this.produtos[key].tipo == 1) {
                  if(_this.produtos[key].escolha_tipo == 1){
                    msg += _this.produtos[key].nome + " (maduro(a)) - "+ _this.produtos[key].volume + " - Quantidade: " + _this.produtos[key].quantidade + "\n";
                  } else if(_this.produtos[key].escolha_tipo == 2){
                    msg += _this.produtos[key].nome + " (verde) - "+ _this.produtos[key].volume + " - Quantidade: " + _this.produtos[key].quantidade + "\n";
                  } else {
                    msg += _this.produtos[key].nome + " - "+ _this.produtos[key].volume + " - Quantidade: " + _this.produtos[key].quantidade + "\n";
                  }
                  
                } else {
                  msg += _this.produtos[key].nome + " - "+ _this.produtos[key].volume + " - Quantidade: " + _this.produtos[key].quantidade + "\n";
                }
                
              }
            }

            msg += "\n*FRETE:* " + _this.valor_frete;

            msg += "\n*TOTAL:* R$ " + _this.formatPrice(_this.valor_total);

            _this.msgApp = encodeURIComponent(msg);

            _this.linkApp = "https://api.whatsapp.com/send?phone=" + _this.celWhatsapp + "&text=" + _this.msgApp;
            
            var a = document.createElement('a');
            a.target="_blank";
            a.href=_this.linkApp;
            // a.click();
            _this.loading = false;
          })
          .catch(function(error) {
            console.log(error);
            _this.loading = false;
          });

      }
      
    }
}
</script>

<style>
  .resumo {
    height: 100vh;
    padding-top: 40px;
  }
  .container-loading{
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    position: absolute;
    opacity: 0.8;
    z-index: 1000;
  }

  .carregando{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .resumo .logo {
    width: 125px;
    height: 100px;
    background-image: url('../assets/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .resumo .titulo {
    text-align: center;
  }
  .resumo .titulo h1 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    color: #6A8C48;
    margin-top: 32px;
  }
  .resumo .tabela {
    background-color:#6B8B4B;
    padding-top: 20px;
    border-radius: 20px 20px 0px 0px;
    padding-bottom: 20px;
    margin-top: 30px;
    min-height: 80%;
  }
  .resumo h1 {
    color: #68D400;
    font-size: 28px;
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
  }
  .resumo .table {
    color:#FFFFFF;
    font-family: Roboto;
    font-size: 14px;
  }
  .resumo .table th, .resumo .table td {
    border: none;
    padding: 5px;
  }
  .resumo .table thead tr {
    border-bottom: 1px solid #f9f9f9;

  }
  .resumo .table thead th {
    text-transform: uppercase;
    text-align: center;
  }
  .resumo .table thead th:first-child {
    text-align: left;
  }
  .resumo .table thead th:last-child {
    text-align: right;
  }

  .resumo .table td {
    text-align: center;
  }
  .resumo .table td:first-child {
    text-align: left;
  }
  .resumo .table td:last-child {
    text-align: right;
  }
  .resumo .table tbody {
    border-bottom: 1px solid #f9f9f9 ;
  }

  .resumo .total-compra {
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    color: #f9f9f9;
    padding-bottom: 20px;
  }
  .resumo .total-compra .valor-total {
    float: right;
    color: #68D400;
    font-size: 24px;
  }
  .resumo .bt-voltar {
    width: 100%;
    min-height: 50px;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 25px;
    border: solid 2px #68D400; 
    background-color: #6B8B4B;
    font-family: Roboto;
    font-weight: bold;
    margin-top: 40px;
  }
  .resumo .bt-enviar {
    width: 100%;
    min-height: 50px;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 16px;
    border-radius: 25px;
    border: solid 2px #68D400; 
    background-color: #68D400;
    font-family: Roboto;
    font-weight: bold;
    margin-top: 40px;
    color: #FFFFFF;
  }
</style>
